:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-grey: #2C3E50;
    --green: #1ABC9C;
    --light-grey: #3A546D;
    --fa-inverse: #FFFFFF;
}
/*** COMMON ***/
body{
    background-color: var(--white);
    color: var(--black);
}
.my-bg-dark-grey{
    background-color: var(--dark-grey);
}
.my-bg-green{
    background-color: var(--green);
}
.my-bg-light-grey{
    background-color: var(--light-grey);
}
/* HEADER */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: var(--dark-grey);
    padding: 10px 0 10px 0;
}
/* navbar */
.my-navbar-grow {
    flex-grow: 0;
}
#my-navbar .nav-link, .navbar-toggler .fa-solid.fa-bars{
    color: var(--white);
}
#my-navbar .nav-link:hover, .navbar-toggler:hover .fa-solid.fa-bars:hover{
    color: var(--green);
}
/* MAIN */
#hero{
    padding: 90px 0 50px 0;
    color: var(--white);
}
img.avatar{
    width: 70%;
    max-width: 100%;
}
.bar:before, .bar:after{
    content: '';
    display: block;
    width: 15%;
    height: 4px;
    background-color: var(--white);
    border-radius: 4px;
    margin: 0 15px;
}
/* portfolio */
#portfolio{
    padding: 50px 0 50px 0;
}
#portfolio .bar:before, #portfolio .bar:after{
    background-color: var(--dark-grey);
}
/* plus */
.plus-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    opacity: 0;
    transition: opacity 2s;
    cursor: pointer;
}
.plus-container:hover::after{
    opacity: 1;
}
/* about */
#about{
    padding: 50px 0 50px 0;
    color: var(--white);
}
#about .btn{
    color: var(--white);
    border-color: var(--white);
}
#about .btn-outline-success:hover{
    background-color: var(--black);
}
/* contact */
#contact{
    padding: 50px 0 50px 0;
    color: var(--black);
}
#contact .bar:before, #contact .bar:after{
    background-color: var(--dark-grey);
}
#contact .btn{
    background-color: var(--green);
    border-color: var(--white);
}
#contact .btn-success:hover{
    background-color: var(--black);
}
/* start icon */
#portfolio .fa-star, #contact .fa-star{
    color: var(--dark-grey);
}
/* footer top */
#footer-top{
    padding: 50px 0 20px 0;
    color: var(--white);
}
#footer-top a{
    text-decoration: none;
    color: var(--green);
}
.cerchio{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--white);
    border: 1px solid var(--white);
}
/* footer bottom */
#footer-bottom{
    padding: 50px 0 20px 0;
    color: var(--white);
}