:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-grey: #2C3E50;
    --green: #1ABC9C;
    --light-grey: #3A546D;
}
/*** COMMON ***/
body{
    background-color: var(--white);
    color: var(--black);
}
.my-bg-dark-grey{
    background-color: var(--dark-grey);
}
.my-bg-green{
    background-color: var(--green);
}
.my-bg-light-grey{
    background-color: var(--light-grey);
}